body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e5e6df; #F6E4DA; */
  background-color: #025E73;
  height: 100vh;
  overflow: hidden;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  margin: 0;
}

#homepage-container {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}

#question-and-response {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  padding: 1.1em;
  border-radius: .75em;
  width: 785px;
  color: #262312;
  -webkit-filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  filter: drop-shadow(1px 2px 5px rgba(0,0,0,.3));
  /* box-shadow: 
    0 2px 2px rgba(3, 120, 166,.5),
    0 0px 5px rgba(3, 120, 166,.15),
    0 0px 4px rgba(0,0,0,.35),
    0 5px 20px rgba(3, 120, 166,.25),
    0 15px 50px rgba(3, 120, 166,.75),
    inset 0 0 15px rgba(255,255,255,.05); */
    box-shadow: 0 0 5px #025E73,
              0 0 15px #025E73,
              0 0 20px #52D9CB,
              0 0 25px #52D9CB;
}

#question {
  font-weight: bold;
}

#answer-response {
  /* margin: 10px 0; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

#date-picker {
  margin: 10px 0;
  display: flex;
  align-self: start;
  flex-direction: column;
}
.text-area {
  margin-bottom: 20px;
  width: 760px;
  /* height: 170px; */
  font-size: 18px;
  font-family: "Chalkduster";
}

textarea.form-control {
  height: 85px;
}
.text-for-login-signup {
  text-align: center;
  color: navy;
  font-size: 18px;
}

.btn { 
  font-family: "Andale Mono", Optima, sans-serif;
  font-size:18px;
  color: rgb(0, 0, 95);
  border: 1px solid #025E73;
  background-color: #0bc2f0;
}

.login-signup {
  font-family: "Andale Mono", Optima, sans-serif;
  width: 640px;
  height: 640px;
  display: block;
  margin: 50px auto 50px auto;
  padding: 10px;
  background-color: #262312;
  border-radius: 100%;
  color: navy;
  font-size: 24px;
  transition: 0.2s ease-out;
  box-shadow: 0 0 5px #025E73,
              0 0 25px #025E73,
              0 0 50px #52D9CB,
              0 0 100px #52D9CB;
}
.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 215px auto 0 185px;
  width: 255px;
}
.signup-fields {
  margin: 100px auto 0 185px;
}

.input {
  height: 45px;
  padding: 200px auto;
  box-shadow: insent 0px 0px 0px 7px #52D9CB;
}

.submit {
  width: 220px;
  height: 220px;
  display: block;
  margin: 450px -10px 0 auto;
  background: #52D9CB;
  border-radius: 100%;
  border: 1px solid #52D9CB;
  color: rgb(0, 0, 95);
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
  .submit:hover, .submit:focus {
    background: #0bc2f0;
    /* #0378A6; */
    color: navy;
    border: 1px solid #0bc2f0;
    outline: 0;
  }

.form-control {
  font-size:18px;
}

.date-button-container {
  display: flex;
  align-items: flex-end;
}

.btn-grow {
  flex-grow: 1;
}

.text {
  color: #52D9CB;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Monaco"; 
}
.form-check-input {
  margin-bottom: 5px;
}

#answers {
  font-family: "Chalkduster";
  font-size:30px;
  color: white;
  margin-bottom: 15px;
}

.ans-input {
  font-family: "Andale Mono";
  color: white;
  font-size:18px;
}
label {
  color: #fff;
  padding: 0.5em;
}
.profile-input {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profile {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.user-profile {
  display: flex;
  justify-content: center;
}

.p-i-div {
  display: flex;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken(#0040C1, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-70%, -70%);
  animation: cube 12s ease-in forwards infinite;  
}

img:nth-child(2n) {
  border-color: lighten(#0040C1, 10%);
}
  
img:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}

img:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}

img:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}

img:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}

img:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

img:nth-child(7) {
  animation-delay: 5s;
  left: 80vw;
  top: 75vh;
}

img:nth-child(8) {
  animation-delay: 7s;
  left: 15vw;
  top: 20vh;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);   
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%); 
    opacity: 0;
  }
}
